<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Become Admin</title>
    <link rel="stylesheet" href="./styles/index.css" />
  </head>
  <body>
    <form action="/admin" method="POST">
      <% if(locals.message) {%>
      <div><%= locals.message %></div>
      <% } %>
      <label for="passkey">Enter this passkey: abcdef</label>
      <input type="text" name="passkey" id="passkey" />
      <button>Submit</button>
    </form>
  </body>
</html>
